// @import .scss => styles
div(className='{styles.root}')
  main(role='main')
    //- Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        h1.display-3 about...
        input.form-control
